/* --------------------------
  Base Styles
--------------------------- */

@import url(https://fonts.googleapis.com/css?family=Cinzel);

* {
  box-sizing: border-box;
}

i {
  font-style: italic;
}

body {
  color: #797e83;
  font-size: 16px;
	margin: 0;
  font-family: 'Cinzel', serif;
  line-height: 1.5;
}
.main-content {
  display: flex;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400;
}

}
/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
	.main-content {
		margin-top: 4em;
	}
}

@media (min-width: 1080px) {
  .container,
  .main-content {
    max-width: 1300px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

}
