/* --------------------------
  Base Styles
--------------------------- */

@import url(https://fonts.googleapis.com/css?family=Cinzel);

* {
  box-sizing: border-box;
}

body {
  color: #797e83;
  font-size: 16px;
	margin: 0;
  font-family: 'Cinzel', serif;
  line-height: 1.5;
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* --------------------------
  Main Styles
--------------------------- */

  main {
    margin: .5vw;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
  }

  main div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 300px;
    margin: .5vw;
  }

  main div img {
    width: 100%;
    height: auto;
  }

  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

/* --------------------------
  Media Queries
--------------------------- */

/* @media screen and (max-width: 400px) {
  main div {
    margin: 0;
  }

  main {
    padding: 0;
  }
} */


 @media (min-width: 769px) {
  .main-content {
    margin-top: 4em;
  }

  .main-content p {
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;

    -moz-column-count: 2;
    -moz-column-gap: 2.5em;

    column-count: 2;
    column-gap: 2.5em;
  }
}

@media (min-width: 1080px) {
  .container {
    max-width: 1300px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
}
