@import url(https://fonts.googleapis.com/css?family=Cinzel);

* {
  box-sizing: border-box;
}
/*//// FLICKITY STYLES ////*/
.flickity-button:disabled {
  display: none;
}

/*//// TEXT OVERLAY STYLES////*/

/* .carousel-cell {
  width:640px;
  height: 402px;
  margin: 2px;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: .3s;
}

.carousel-cell:hover img {
  filter: blur(2px) brightness(75%);
  box-shadow: 0 0 16px cyan;
}

.carousel-cell :not(img) {
  position:absolute;
  top: 40%;
  z-index: 1;
  color: #F6F3FF;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.carousel-cell:hover :not(img) {
  opacity: 1;
} */

/*//// MEDIA QUERIES ////*/

@media screen and ( min-width: 768px ) { /*//// TABLET AND MEDIUM DEVICES ////*/
  #carousel img {
    height: 400px;
    padding-top: 50px;
  }
  .text-overlay {
    width: 455px;
    height: 336px;
    margin: 2px;
  }
}

@media (min-width: 1080px) { /*//// DESKTOP AND LARGER DEVICES ////*/

  /*//// TEXT OVERLAY STYLES////*/

  .carousel-cell {
    width: 640px;
    height: 402px;
    margin: 2px;
  }

  .carousel-cell img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: .3s;
  }

  .carousel-cell:hover img {
    filter: blur(5px) brightness(55%);
  }

  .carousel-cell :not(img) {
    position:absolute;
    top: 40%;
    z-index: 1;
    color: #F6F3FF;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .3s;
  }

  .carousel-cell:hover :not(img) {
    opacity: 1;
  }
