/* --------------------------
  Main Styles
--------------------------- */

.first-paragraph {
  padding-right: 2em;
}

.first-paragraph p {
  margin: 0;
}

.second-paragraph p {
  margin: 0 0 1.85rem 0;
}

p + p {
  text-indent: 2em;
}

.item {
 margin: 1.5%;
 flex-grow: 1;
 flex-basis:200px;
}


.invitation { 
  padding: 0 3em;
  color: #333;
  text-align: center;
  font-size: 1.425rem;
  font-family: 'Cinzel', serif;
  font-weight: normal;
  text-decoration: none;

}

.invitation:hover {
  color: rgb(0, 0, 0);
  font-weight: 500;
  border-bottom: 1px solid #F79E2A;
}



  /* --------------------------
  Media Queries
  --------------------------- */

  @media (min-width: 769px) {
    

}

  @media (min-width: 1080px) {



}