/* --------------------------
Web Fonts
--------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');

/* --------------------------
 General Styles
--------------------------- */

* {
  box-sizing: border-box;
}

html {
  /* background-image: url(http://basehold.it/i/32); */
  height: 100%;
  background-color: #FCFCFC;
  background-color: #F5ECA6;
  color: #333;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title,
.subtitle,
.small-title {
  font-family: 'Cinzel', serif;
  font-weight: normal;
}

.title,
.subtitle {
  font-size: 1.15rem;
  margin-bottom: 0;
  padding: 0 2%;
  margin-top: .85em;
}

.small-title {
  font-size: 1.999em;
  margin: .3em 0 .75em 1em;
}


.paragraphs {
  display: flex;
  flex-direction: column; 
  padding: 3%;
  font-size: 1.10rem;
}


/* --------------------------
 Nav Bar Styles
--------------------------- */



.container,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  font-family: 'Cinzel', serif;
}

.site-logo {
  width: 120px;
  align-self: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  margin-top: 1.5em;
}

.nav a {
  display: block;
  color: #333;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #D4D3D9;
  text-decoration: none;
}

.nav a:hover {
  color: #2E2E30;
  border-bottom-color: #F79E2A;
}

.main {
  display: flex;
	margin: 0;
  font-family: 'Alegreya', serif;
  line-height: 1.6;
}

.wrap {
  flex: 1 0 auto;
}

/* --------------------------
  Footer
--------------------------- */

.main-footer {
  color: #333;
  font-size: 1rem;
  font-family: 'Cinzel', serif;
  font-weight: normal;
  text-align: center;
  flex-shrink: 0;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 48.0626em) { /*Using ems instead of pixels to facilitate responsive typography. 769px is equals 48.0625ems*/

  html {
    background-color: bisque;
  }
  
  main {
    flex-direction: row;
    max-width: 81.25rem;
    justify-content: center;
    margin: 3em auto;
    margin-top: 1rem;
    width: 100%;
  }

  .paragraphs {
    flex-direction: row;
  }

  .title {
    font-size: 1.999rem;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 1.413em;
    line-height: 1.4;
  }

  .title, 
  .subtitle {
    text-align: left;
  }

  .smallcaps {
    font-family: 'Alegreya SC', 'Alegreya', 'Arial', serif;
  }  

  .main-header {
    flex-direction: row;
    justify-content: flex-end;

  }
  .site-logo {
    width: 150px;
  }
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    border-bottom-color: transparent;
  }
}


@media (min-width: 67.5em) { /*Using ems instead of pixels to facilitate responsive typography. 1080px is equals 67.5ems*/

  html {
    background-color: azure;
  }

  .title {
    font-size: 2.827em;
    line-height: 1.07;
    padding-top: .10em;
  }

  .subtitle {
    font-size: 1.413em;
    line-height: 1.4;
    padding-bottom: .15em;
  }

  .paragraphs {
    font-family: 'Alegreya', serif;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.6;
    text-align: justify;
    margin-top: 1em;
    padding: 1%;
    align-items: flex-start;
    flex-wrap: wrap;
  } 


  
  /* --------------------------
 Nav Bar Styles
--------------------------- */

  .main-header {
    padding-top: 1.75em;
  }

  .site-logo {
    margin-right: auto;
    margin-left: 2em;
  }

  .nav {
    justify-content: flex-end;
    margin-top: 0;
    
  }

  .nav li {
    margin-left: .65em;
    margin-right: .65em
  }









}
