/* --------------------------
Web Fonts
--------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');

/* --------------------------
 General Styles
--------------------------- */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #FCFCFC;
}

body {
  color: #333;
  font-size: 1.25rem;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-family: 'Cinzel', serif;
  font-size: 1.425rem;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.999em;
  font-weight: normal;
}


.paragraphs {
  display: flex;
  flex-direction: column; 
}


.smallcaps {
  font-family: 'Alegreya SC', 'Alegreya', 'Arial', serif;
}

.dropcap {
  font-size: 4em;
  float: left;
  width: .5em;
  height: .7em;
  line-height: 0.8;
  margin: 0;
}

/* --------------------------
 Nav Bar Styles
--------------------------- */

.container,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 1em;
  /* background-color: #FFBBB9;
  border: solid 2px #FDCD15; */
  font-family: 'Cinzel', serif;
}

.site-logo {
  width: 120px;
  align-self: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  margin-top: 1.5em;
}

.nav a {
  display: block;
  color: #333;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #D4D3D9;
  text-decoration: none;
}

.nav a:hover {
  color: #2E2E30;
  border-bottom-color: #F79E2A;
}

.main {
  display: flex;
	margin: 0;
  font-family: 'Alegreya', serif;
  line-height: 1.5;
}

.wrap {
  flex: 1 0 auto;
}

/* --------------------------
  Footer
--------------------------- */

.main-footer {
  flex-shrink: 0;
}

.main-footer {
  color: #333;
  font-size: 1rem;
  font-family: 'Cinzel', serif;
  font-weight: normal;
  text-align: center;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {


  main {
    margin-top: 3em;
  }
  
  main {
    flex-direction: row;
    max-width: 81.25rem;
    justify-content: center;
    margin: 3em auto;
    margin-bottom: 0;
    margin-top: 1rem;
    width: 100%;
  }

  .paragraphs {
    flex-direction: row;
  }

  .main-header {
    justify-content: flex-end;
  }
  .site-logo {
    width: 150px;
  }
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    border-bottom-color: transparent;
  }
}

@media (min-width: 1080px) {


  .title {
    font-family: 'Cinzel', serif;
    font-size: 2.827rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    padding: 0 2%;
    margin-top: .85em;
    /* background-color: #A2E8B0;
    border: solid 2px #FB005A; */
  }

  .subtitle {
    font-family: 'Cinzel', serif;
    font-size: 1.413rem;
    font-weight: normal;
    padding: 0 2%;
    line-height: 1.4;
    /* background-color: #DFFFB4;
    border: solid 2px #7D3892; */
  }

  .paragraphs {
    font-family: 'Alegreya', serif;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.6;
    text-align: justify;
    margin-top: 1em;
    padding: 2%;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: #FFF1B9;
    border: solid 2px #007BFD; */
  } 

  
  /* --------------------------
 Nav Bar Styles
--------------------------- */

  .main-header {
    flex-direction: row;
  }

  .site-logo {
    margin-right: auto;
    margin-left: 2em;
  }

  .nav {
    justify-content: flex-end;
    margin-top: 0;
    
  }

  .nav li {
    margin-left: .65em;
    margin-right: .65em
  }









}
