/* --------------------------
  Main Styles
--------------------------- */

.item {
 margin: 0;
 flex: 1;
}

paragraphs p {
  margin-top: 0;
}

.text {
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya', serif;
  margin-left: 2em;
  font-size: 1.10rem;
  text-align: justify;
}

.dropcap-D {
  font-size: 4em;
  float: left;
  width: .7em;
  height: .7em;
  line-height: 0.8;
  margin: 0;
  display: block;
}

.dropcap-W {
  font-size: 4em;
  float: left;
  width: .7em;
  height: .7em;
  line-height: 0.8;
  margin: 0;
  margin-right: .3em;
  display: block;
}
.responsive {
  width: 100%;
}
.maintitle {
  height: 100px;
}

.composers {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.composers-subtitle {
  color: firebrick;
}

.first-column,
.second-column,
.third-column {
  flex-direction: column;
  margin: 4%;
}

.second-column p.second {
  margin: 0;
  padding-top: 0;
}

.third-column > .maintitle {
  display: none;
}
/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {

  .first-paragraph {
    padding-right: 1em;
  }
  
  .second-paragraph {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .third-paragraph {
    padding-left: 1em;
  }

  .text,
  .picture {
    max-width: 45%;
  }

  .text{
    float: left;
  }

  .picture {
    float: right;
    margin: 0 2% 2%;
    width: 46%;
  } 

  .group:after {
    content: "";
    display: table;
    clear: both;
  }

  .picture img {
    max-width: 100%;
    height: auto;
  }

  .text p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0;

  }

  .text p + p {
    text-indent: 2em;
  }

  figcaption {
    font-size: 0.707em;
    padding-top: 0;
  }

  .first-column,
  .second-column,
  .third-column {
    flex-direction: column;
    margin: 2%;
  }


.composers {
  flex-direction: row;
}


.composers p {
  font-size: 1.10rem;
  padding-right: 2rem;
  margin: 0;
}

p + p {
  text-indent: 2em;
}

figure {
  margin: auto;
}

.third-column > .maintitle {
  display: block;
}

@media (min-width: 1080px) {
  
.text {
  font-size: 1.25rem;
}
.composers p {
  font-size: 1.25rem;
  padding-right: 4rem;
}


  .second {
    padding-top: 0 !;
  }

  .text p {
    margin-bottom: 2em;
  }
}