/* --------------------------
  Main Styles
--------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&subset=latin-ext');

.container,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #FFBBB9;
  border: solid 2px #FDCD15;
  padding-top: 2em;
  font-family: 'Cinzel', serif;
}

.site-logo {
  width: 120px;
  align-self: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  margin-top: 1.5em;
}

.nav a {
  display: block;
  color: #727A7C;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #D4D3D9;
  text-decoration: none;
}

.nav a:hover {
  color: #2E2E30;
  border-bottom-color: #F79E2A;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
  .main-header {
    height: 250px;
    justify-content: flex-end;
  }
  .site-logo {
    width: 150px;
  }
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    border-bottom-color: transparent;
  }
}

@media (min-width: 1080px) {
  .main-header {
    flex-direction: row;
  }

  .container{
   /* justify-content: center; */
  }

  .site-logo {
    margin-right: auto;
    margin-left: 2em;
  }

  .nav {
    justify-content: flex-end;
    margin-top: 0;
    
  }

  .nav li {
    margin-left: .65em;
    margin-right: .65em
  }
}
