/* --------------------------
  Main Styles
--------------------------- */
.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2em;
}

.site-logo {
  width: 120px;
  align-self: center;
}

.nav {
  margin-top: 1.5em;
}

.nav a {
  display: block;
  color: #727A7C;
  font-style: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #D4D3D9;
}

.nav a:hover {
  color: #2E2E30;
  border-bottom-color: #F79E2A;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
  .main-header {
    height: 200px;
    justify-content: flex-end;
  }
  .site-logo {
    width: 150px;
  }
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    border-bottom-color: transparent;
  }
}

@media (min-width: 1080px) {
  .main-header {
    flex-direction: row;
  }

  .site-logo {
    margin-right: auto;
  }

  .nav {
    margin-top: 0;
    align-self: center;
  }

  .nav li {
    margin-left: .65em;
    margin-right: .65em
  }
}
