/* --------------------------
  Main Styles
--------------------------- */
@import url(https://fonts.googleapis.com/css?family=Cinzel);

* {
  box-sizing: border-box;
}


/* --------------------------
  Flexbox Properties
--------------------------- */


/* --------------------------
Main Styles
--------------------------- */



/* --------------------------
Media Queries
--------------------------- */

@media (min-width: 769px) {
.main-content {
  margin-top: 3em;
}
}

@media (min-width: 1080px) {
.main-content {
  flex-direction: row;
  max-width: 1300px;
  justify-content: center;
  margin: 3em auto;
  width: 100%;
}
}
