/* --------------------------
  Web Fonts
--------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');


* {
  box-sizing: border-box;
}

/* --------------------------
  Main Styles
--------------------------- */

body {
  color: #797e83;
  font-size: 1.25rem;
  line-height: 1.5;
}

}
.main {
  display: flex;
  color: #797e83;
	margin: 0;
  font-family: 'Alegreya', serif;
  line-height: 1.5;
}

.subtitle {
  font-family: 'Cinzel', serif;
  font-size: 1.425em;
}

.paragraphs {
  display: flex;
  flex-direction: column; 
}

.invitation { 
  color: #797e83;
  font-size: 1.425em;
  font-family: 'Cinzel', serif;
  font-weight: normal;
  text-decoration: none;
  align-self: center;
}

.invitation:hover {
  color: #2E2E30;
  border-bottom: 1px solid #F79E2A;
}

.main-footer {
  padding-top: 1em;
  text-align: center;
}

  /* --------------------------
  Media Queries
  --------------------------- */

  @media (min-width: 769px) {
  main {
    flex-direction: row;
    margin-top: 3em;
    align-items: flex-end;
    width: 100%;
  }

  .paragraphs {
    flex-direction: row;
  }


}

  @media (min-width: 1080px) {
  main {
    max-width: 1300px;
    justify-content: center;
    margin: 3em auto;
    margin-top: 1rem;
    width: 100%;
  }

  .title {
    font-family: 'Cinzel', serif;
    font-size: 2.827rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    /* background-color: #A2E8B0;
    border: solid 2px #FB005A; */
}

  .subtitle {
    font-family: 'Cinzel', serif;
    font-size: 1.414rem;
    font-weight: normal;
    line-height: 1.4;
    /* background-color: #DFFFB4;
    border: solid 2px #7D3892; */
  }

  .paragraphs {
    font-family: 'Alegreya', serif;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.6;
    text-align: justify;
    margin-top: 1em;
    padding: 2%;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: #FFF1B9;
    border: solid 2px #007BFD;*/
  } 
  
  .first-paragraph,
  .second-paragraph,
  .invitation {
    border: dashed 2px #E4874B;
  }

.invitation {
  align-self: flex-end;
}

  .item {
   margin: 1%;
   flex-grow: 1;
   flex-basis: 200px;
  }