/* --------------------------
  Main Styles
--------------------------- */

@import url(https://fonts.googleapis.com/css?family=Cinzel);

* {
  box-sizing: border-box;
}

.main-header,
.main-content,
.main-footer {
  color: #797e83;
  font-size: 1em;
	margin: 0;
  font-family: 'Cinzel', serif;
  line-height: 1.5;
}

.main-content {
  color: #656a6e;
  /* background-color:  rgb(211, 171, 212); */
}

 .info {
  align-items: center;
  color: #797e83;
  font-size: 2em;
  text-decoration: none;
  padding: .2em;
} 

.info:hover {
  color: #2E2E30;
  border-bottom: 1px solid #F79E2A;
}

.main-footer {
  /* background-color: #88FFBF; */
  padding-top: 1em;
  text-align: center;
}
/* PHOTOS STYLES STYLES */

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.main-content div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 300px;
  margin: .5vw;
}

.main-content div img {
  width: 100%;
  height: auto;
}

img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* OVERLAY STYLES */

.view {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: default;
  background-size: 100%;
}

.view .mask {
  display: flex;
  width: 80%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}


.view img {
  
  display: block;
  position: relative;
}

/* .view a.info {
  margin: auto;
   color: #D4D3D9;
   text-shadow: 1px 1px #727A7C;
   font-size: .75em;
   text-align: center;
   border-bottom: 1px solid #D4D3D9;
   align-self: center;
   text-decoration: none;
   background: #3E3D41;
   border-radius: 2px;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000; */
}
info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
/* --------------------------
  Borders
--------------------------- */


/* --------------------------
  Media Queries
--------------------------- */
  


@media (min-width: 769px) {
    .main-content {
      flex-direction: row;
      margin-top: 3em;
      align-items: flex-end;
      width: 100%;
    }

  .view {
    width: 300px;
    height: 200px;
  }

  @media (min-width: 1080px) {
  .main-content {
    max-width: 1300px;
    justify-content: center;
    margin: 3em auto;
    width: 100%;
    }