@import url(https://fonts.googleapis.com/css?family=Cinzel);

a,
h1,
h3 {
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  text-shadow: 1px 1px 1px #333;
  text-decoration: none;
  color: #222224;
  padding: 0 1em;
  margin: 0;
}
#container {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999;

}
#top-header {
  width: 100%;
  height: 55px;
  z-index: 999;
  padding: 5px 0 0 0;
  box-shadow: 0 .5em 1em #111;
  background-color: #727A7C;
  opacity: 0.8;

}
#navbar {
  width: 100%;
  height: 35px;
  z-index: 999;
  padding: 5px 0 0 0;
  box-shadow: 0 .5em 1em #111;
  background-color: #BCBBC0;
  opacity: 0.8;

}
div img {
  width: 1600px;
  height: auto;
}
