/* --------------------------
  Main Styles
--------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

 .info {
  font-family: 'Cinzel', serif;
  font-weight: normal;
  align-items: center;
  color: #333;
  font-size: 2em;
  text-decoration: none;
  padding: .2em;
} 

.info:hover {
  color: #2E2E30;
  border-bottom: 1px solid #F79E2A;
}

/* --------------------------
  Photo Gallery Styles
--------------------------- */

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.main-content div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 300px;
  margin: .5vw;
}

.main-content div img {
  width: 100%;
}

img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

/* --------------------------
  Overlay Styles
--------------------------- */

.view {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: default;
  background-size: 100%;
}

.view .mask {
  display: flex;
  width: 80%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.view img {
  
  display: block;
  position: relative;
}

/* info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
} */

/* --------------------------
  Transitions Styles
--------------------------- */

.view-tenth img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.view-tenth .mask {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.view-tenth a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.view-tenth:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.view-tenth:hover a.info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* --------------------------
  Media Queries
--------------------------- */
  


 @media (min-width: 769px) {
    .wrap {
      justify-content: center;
    }

    .main-content {
      flex-direction: row;
      margin-top: 2em;
      align-items: flex-end;
      width: 100%;
      align-self: center;
    }

  .view {
    width: 300px;
    height: 200px;
  }

  @media (min-width: 1080px) {
  .main-content {
    max-width: 1300px;
    justify-content: center;
    margin: 3em auto;
    margin-top: 2em;
    width: 100%;
    } 